@tailwind base;
@tailwind components;

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: rgb(18 17 17);
  color: white;
}
/* .cropped-image {
  width: desired-width;
  height: desired-height;
  overflow: hidden;
}

.cropped-image img {
  width: image-width;
  height: image-height;
  margin: -15% 0px 0 0;
  } */

  .gridClass{
    display: grid;
    grid-column: 4fr 1fr;
  }

  .responsive-embed-container{
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contentClass img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 2%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }

  .contentClass p, .contentClass h3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .carouselClasses ul{
    background: transparent;
  }
  
  
  
  @tailwind utilities;